<!DOCTYPE html>
<html lang="en">

<th:block th:insert="head::head"/>

<body onload="comprobarFoto()">

<th:block th:insert="header::header"/>

<th:block th:insert="sideBar::sideBar"/>

<main id="main" class="main">

    <th:block th:insert="pageTitle::pageTitle"/>

    <section class="section dashboard">
        <div class="row">

            <th:block th:insert="Proveedores/formularioProveedor::formularioProveedor"/>

        </div>
    </section>

</main><!-- End #main -->

<th:block th:insert="footer::footer"/>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<th:block th:insert="scripts::scripts"/>

</body>

</html>