<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="/head::head"/>

<body>

<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <div class="logo d-flex align-items-center w-auto">
                                <img src="/img/logo.png" alt="">
                                <span class="d-none d-lg-block">GestionBar</span>
                            </div>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Crea una cuenta</h5>
                                </div>

                                <form th:class="${validation}" novalidate>

                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Usuario</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            <input th:style="${isGood} ? 'border-color:green;':'border-color:red;'" th:name="user" type="text" name="username" class="form-control" id="yourUsername" required>
                                            <div th:style="${isGood} ? 'display:none;':'color:red; display:block;'" th:text="${mensage}" class="invalid-feedback">Porfavor introduzca el nombre de usuario</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Contraseña</label>
                                        <input th:name="pas" type="password" name="password" class="form-control" id="yourPassword" required>
                                        <div class="invalid-feedback">Porfavor introduzca la contraseña</div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Crear cuenta</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Ya tienes una cuenta? <a th:href="@{/login}">Log in</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>

                        <div class="credits">
                            Designed by Miguel Padilla Lillo
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->



<th:block th:insert="/footer::footer"/>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<th:block th:insert="scripts::scripts"/>
</body>

</html>